.highlights {
  position: relative;
  overflow: hidden;
	background: url("../imgs/Hilton-Dacdiem.jpg") no-repeat center;
	background-size: cover;

  @include respond-to(md) {
    position: static;
    height: 500px;
  }
}

.highlights__img {
  width: 100%;
  display: block;
  margin: 0 auto;
  object-fit: cover;

  @include respond-to(xs) {
    height: 90vh;
  }
}

.highlights__content {
  position: absolute;
  top: 50%;
  left: 3.15%;
  transform: translateY(-50%);
  color: #fff;

  @include respond-to(md) {
    position: static;
    transform: none;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 40px 50px;
  }
}

.highlights__content--top {
  width: 30.9%;
  border-radius: 15px;
  background-color: rgba(31,173,33,0.8);

  @include respond-to(mdt) {
    width: 40%;
  }

  @include respond-to(lg-v4) {
    width: 40%;
  }

  @include respond-to(md) {
    width: 40%;
  }

  @include respond-to(sm) {
    width: 42%;
    float: left;
    margin-top: 10px;
  }

  @include respond-to(xs) {
    width: 90%;
    margin-top: 10px;
    margin-left: 5%;
  }

  h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-family: montserratMedium;

    @include respond-to(sm) {
      font-size: 22px;
    }

    @include respond-to(xs) {
      font-size: 22px;
    }
  }

  p {
    font-family: montserratRegular;
    font-size: 14px;
    line-height: 25px;

    @include respond-to(sm) {
      font-size: 13px;
    }

    @include respond-to(xs) {
      font-size: 13px;
    }
  }
}

.highlights__content--bottom {
  margin-top: 35px;
  width: 30.9%;
  border-radius: 15px;
  background-color: rgba(31, 173, 33, .8);

  @include respond-to(mdt) {
    width: 40%;
  }

  @include respond-to(lg-v4) {
    width: 40%;
  }

  @include respond-to(md) {
    width: 40%;
    margin-top: 30px;
  }

  @include respond-to(sm) {
    margin-top: 10px;
    width: 42%;
    float: right;
  }

  @include respond-to(xs) {
    margin-top: 10px;
    width: 90%;
    float: right;
    margin-right: 5%;
  }

  li {
    margin-bottom: 0;
    line-height: 32px;
    color: #fff;
    font-size: 18px;
    font-family: notosansSemiBold;

    @include respond-to(sm) {
      font-size: 16px;
    }

    @include respond-to(xs) {
      margin-top: 2px;
      line-height: 20px;
      font-size: 14px;
    }
  }

  span {
    line-height: 32px;
    color: #fff;
    font-size: 18px;
    font-family: notosansRegular;

    @include respond-to(sm) {
      font-size: 13px;
    }

    @include respond-to(xs) {
      font-size: 13px;
      line-height: 20px;
    }
  }

  p {
    line-height: 32px;
    color: #fff;
    font-size: 18px;
    font-family: notosansRegular;

    @include respond-to(sm) {
      font-size: 13px;
    }

     @include respond-to(xs) {
      font-size: 13px;
       line-height: 20px;
    }
  }
}

.content--inner {
  width: 82.71%;
  margin-left: 7.11%;
  padding-top: 22px;
  padding-bottom: 13px;

  @include respond-to(md) {
    padding-top: 17px;
    padding-bottom: 5px;
    margin-left: 5%;
  }

  @include respond-to(sm) {
    padding-top: 14px;
    padding-bottom: 0;
  }

  @include respond-to(xs) {
    padding-top: 13px;
    padding-bottom: 0;
  }
}
