.policy__incentives {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  background: url("../imgs/money-2724235_1920.jpg") no-repeat;
  background-size: cover;

  @include respond-to(md-v4) {
    height: 530px;
  }

  @include respond-to(xs-v4) {
    height: 420px;
    background-position: center;
    min-height: inherit;
  }
}

.policy__box {
  position: absolute;
  top: 72px;
  left: 6.3%;
  display: inline-block;
  width: 36.24%;
  height: auto;
  padding-top: 23px;
  padding-bottom: 25px;
  background-color: rgba(249,206,77,0.8);
  border-radius: 19px;

  &::before {
    clear: both;
  }



  @include respond-to(md-v4) {
    width: 50%;
  }

  @include respond-to(sm-v4) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }

  @include respond-to(xs-v4) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }
}

.policy__box__title {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0 6.07%;
  font-family: 'montserratMedium';
  min-height: 51px;
  line-height: 36px;
  color: #00A800;
  font-size: 30px;
  text-align: left;
  font-weight: 500;
  text-transform: uppercase;

  @include respond-to(xs-v4) {
    font-size: 27px;
  }
}

.policy__box__content {
  width: 100%;
  padding: 0 6.07%;
}

.policy__incentives__list {
  margin-bottom: 0;
  line-height: 25px;
  color: #333333;
  font-family: 'notosansRegular';
  font-weight: 400;
  font-size: 14px;

  &::before {
    padding-right: 10px;
    content: "\F299";
    color: #00A800;
    font-family: 'FontAwesome';
    font-weight: 400;
  }

}
