.investor{
  background: linear-gradient(to right,rgba(255,255,255,0) ,rgba(251,209,77,0.75) 70%);
  position: relative;
  .investor--content{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    .logo--investor{
      margin-top: -10px;
      padding: 50px 0;
      img{
        width: 400px;
      }
    }
    h2{
      @include respond-to (xs) {
        font-size: 24px;
      }
    }
    p{
      font-size: 18px;
      margin-bottom: 30px;
    }
    .investor--list-content{
      .img-content{
        text-align: center;
        width: 100%;
        max-width: 220px;
        max-height: 220px;
        border: 5px solid #13BF13;
        overflow: hidden;
        border-radius: 300px;
        margin-bottom: 15px;
        img{
          width: 100%;
          height: 100%;

          @include respond-to(xs) {
            width: 105%;
            height: 105%;
            margin-top: -5px;
          };
        }
      }
    }
    @include respond-to(md){
      padding: 30px;
    }
    @include respond-to(sm){
      p{
        font-size: 16px;
      }
      .investor--list-content{
        flex-wrap: wrap;
      }
    }
    @include respond-to(xs){
      p{
        font-size: 16px;
      }
      .investor--list-content{
        flex-wrap: wrap;
      }
      padding: 15px;
    }
  }
}
