html, body {
	height: 100%;
}

.thank__page {
	position: relative;
	width: 100%;
	height: 100%;
	background: url("../imgs/thankyou.jpg") no-repeat center;
	background-size: cover;
	color: #fff;
}

.thank__overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(204,59,80,0.81);
}

.thank__content {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 60%;
	text-align: center;
	transform: translate(-50%, -50%);

	h2 {
		margin-bottom: 20px;
		font-family: montserratSemiBold;
		font-size: 48px;
		text-transform: uppercase;

		@include respond-to(xs-v4) {
			margin-bottom: 5px;
			font-size: 22px;
		}

		@include respond-to(sm-v4) {
			margin-bottom: 10px;
			font-size: 25px;
		}
	}

	h3 {
		font-family: notosansSemiBold;
		font-size: 18px;
	}
}

.thank__icon--success {
	position: relative;
	display: inline-block;
	width: 130px;
	height: 130px;
	margin-bottom: 20px;
	background: transparent;
	border: 7px solid #fff;
	border-radius: 50%;

	@include respond-to(xs-v4) {
		width: 50px;
		height: 50px;
		margin-bottom: 5px;
		border: 4px solid #fff;
	}

	@include respond-to(sm-v4) {
		width: 80px;
		height: 80px;
		margin-bottom: 10px;
		border: 4px solid #fff;
	}

	i {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: inline-block;
		font-size: 60px;

		@include respond-to(xs-v4) {
			font-size: 25px;
		}

		@include respond-to(sm-v4) {
			font-size: 40px;
		}
	}
}

.thank__desc {
	margin-bottom: 5px;
	font-family: montserratRegular;
	font-size: 24px;
	font-weight: 300;

	@include respond-to(xs-v4) {
		margin-bottom: 5px;
		font-size: 16px;
	}

	@include respond-to(sm-v4) {
		margin-bottom: 3px;
		font-size: 18px;
	}
}

.thank__line {
	display: inline-block;
	width: 87px;
	height: 3px;
	background-color: #fff;
}

.thank__info {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 40px;

	@include respond-to(xs-v4) {
		margin-top: 10px;
	}

	@include respond-to(sm-v4) {
		margin-top: 20px;
	}

	p, a {
		font-family: notosansRegular;
		font-size: 18px;

		@include respond-to(xs-v4) {
			font-size: 16px;
		}

		@include respond-to(sm-v4) {
			font-size: 16px;
		}
	}
}

.thank__info--item:nth-child(1) {
	width: calc(15% - 30px);
	margin-right: 40px;

	@include respond-to(xs-v4) {
		width: calc(50% - 50px);
		margin-bottom: 20px;
	}

	@include respond-to(sm-v4) {
		width: calc(40% - 30px);
		margin-bottom: 20px;
	}
}

.thank__info--item:nth-child(2) {
	width: calc(55% - 10px);
	text-align: left;

	@include respond-to(xs-v4) {
		width: calc(61% - 10px);
		margin-bottom: 0px;
		text-align: center;
	}

	@include respond-to(sm-v4) {
		width: calc(61% - 10px);
	}
}

.thank__info--item:nth-child(3) {
	width: calc(30% - 10px);
	text-align: left;

	@include respond-to(xs-v4) {
		width: 80%;
		text-align: center;
	}

	@include respond-to(sm-v4) {
		width: calc(40% - 30px);
	}
}

.thank__contact {
	a {
		color: #fff;
	}
}
