<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Resort & Villas MGM Hội AN</title>
	<meta name="author" content="Hilton">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" href="/public/client/css/base.min.css">
	<link rel="stylesheet" href="/public/client/css/404.min.css">
	<!-- mã seo -->
          <!-- Facebook Pixel Code -->
          <script>
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window,document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
             fbq('init', '761068170719863'); 
            fbq('track', 'PageView');
            </script>
            <noscript>
             <img height="1" width="1" 
            src="https://www.facebook.com/tr?id=761068170719863&ev=PageView
            &noscript=1"/>
            </noscript>
            <!-- End Facebook Pixel Code -->
        
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110308730-2"></script>
            <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-110308730-2');
            </script>
</head>

<body>
	<header class="main-header">
		<div class="row">
			<div class="logo">
				<a href="/"></a>
			</div>
		</div>
	</header>
	<main id="main-404-content" class="main-content-static">
		<div class="content-wrap">
			<div class="shadow-overlay"></div>

			<div class="main-content">
				<div class="row">
					<div class="col-twelve">

						<h1 class="kern-this">404 Error.</h1>
						<p>
							Trang bạn tìm kiếm không tồn tại.
							<br>
							Hãy kiểm tra lại đường dẫn hoặc <a href="/">quay lại trang chủ</a> nhé.
						</p>
					</div>
				</div>
			</div>

			<footer>
				<div class="row">

					<div class="col-seven tab-full social-links pull-right">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-behance"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div>

				</div>
			</footer>

		</div>

	</main>
</body>
</html>
