<!DOCTYPE html>
<html lang="en">
<head>
	<% include meta.ejs %>
	<title>Resort & Villas MGM Hội AN</title>

    <link rel="stylesheet" type="text/css" media="screen" href="/public/client/css/style.1.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/public/client/css/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/public/client/css/stylebutton.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/public/client/css/fix.css" />

    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
<!-- mã seo -->
        <!-- Facebook Pixel Code -->
     <script>
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window,document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
             fbq('init', '761068170719863'); 
            fbq('track', 'PageView');
    </script>
    <noscript>
             <img height="1" width="1" 
            src="https://www.facebook.com/tr?id=761068170719863&ev=PageView
            &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
        
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110308730-2"></script>
    <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-110308730-2');
    </script>

</head>

<body>
    <div class="ladi-wraper-page">
        <div id="SECTION250" class="widget-section ladi-drop" lp-type="widget_section" lp-widget="widget" lp-lang="SECTION" lp-display="block">
            <div class="container">
                <div id="GROUP254" class="widget-element widget-snap widget-group" lp-type="widget_group" lp-lang="GROUP" lp-display="block">
                    <div class="widget-content">
                        <img src="/public/client/imgs/logo.png" alt="" style="width: 100px;">
                    </div>
                </div>
                <div id="GROUP257" class="widget-element widget-snap widget-group" lp-type="widget_group" lp-lang="GROUP" lp-display="block">
                    <div class="widget-content">
                        <div id="SHAPE258" class="widget-element widget-snap" lp-type="shape" lp-lang="SHAPE" lp-group="GROUP257" lp-display="block">
                            <div class="widget-content">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 24 24"
                                    fill="rgba(255,214,0,1)">
                                    <path d="M6.62,10.79C8.06,13.62 10.38,15.94 13.21,17.38L15.41,15.18C15.69,14.9 16.08,14.82 16.43,14.93C17.55,15.3 18.75,15.5 20,15.5A1,1 0 0,1 21,16.5V20A1,1 0 0,1 20,21A17,17 0 0,1 3,4A1,1 0 0,1 4,3H7.5A1,1 0 0,1 8.5,4C8.5,5.25 8.7,6.45 9.07,7.57C9.18,7.92 9.1,8.31 8.82,8.59L6.62,10.79Z"></path>
                                </svg>
                            </div>
                        </div>
                        <div id="HEADLINE259" class="widget-element widget-snap" lp-type="textinline" lp-editor="true" lp-lang="HEADLINE" lp-group="GROUP257"
                            lp-display="block">
                            <h6 class="widget-content" lp-node="h6">0931 43 43 43</h6>
                        </div>
                    </div>
                </div>
                <a id="BUTTON260" class="widget-element widget-snap style-1 ladi-drop" lp-type="button" lp-lang="BUTTON" lp-background="button"
                    lp-display="table">
                    <span class="widget-content">NHẬN BẢNG BÁO GIÁ DỰ ÁN</span>
                </a>
                <div id="HEADLINE261" class="widget-element widget-snap" lp-type="textinline" lp-editor="true" lp-lang="HEADLINE" lp-display="block">
                    <h1 class="widget-content" lp-node="h4">Resort & Villas MGM Hội AN</h1>
                </div>
                <div id="HEADLINE262" class="widget-element widget-snap" lp-type="textinline" lp-editor="true" lp-lang="HEADLINE" lp-display="block">
                    <h4 class="widget-content" lp-node="h4">LỢI NHUẬN LÊN ĐẾN 12% NĂM</h4>
                </div>
                <div id="GROUP263" class="widget-element widget-snap widget-group" lp-type="widget_group" lp-lang="GROUP" lp-display="block">
                    <div class="widget-content">
                        <div id="SHAPE252" class="widget-element widget-snap" lp-type="shape" lp-lang="SHAPE" lp-group="GROUP263" lp-display="block">
                            <div class="widget-content">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 24 24"
                                    fill="rgba(255,214,0,1)">
                                    <path d="M12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5M12,2A7,7 0 0,0 5,9C5,14.25 12,22 12,22C12,22 19,14.25 19,9A7,7 0 0,0 12,2Z"></path>
                                </svg>
                            </div>
                        </div>
                        <div id="HEADLINE253" class="widget-element widget-snap" lp-type="textinline" lp-editor="true" lp-lang="HEADLINE" lp-group="GROUP263"
                            lp-display="block">
                            <h6 class="widget-content" lp-node="h6">220 Nguyễn Hữu Thọ, Hải Châu, TP. Đà Nẵng</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ladi-widget-overlay"></div>
        </div>
        <div id="SECTION3" class="widget-section ladi-drop" lp-type="widget_section" lp-widget="widget" lp-lang="SECTION" lp-display="block">
            <div class="container">
                <div id="GROUP212" class="widget-element widget-snap widget-group" lp-type="widget_group" lp-lang="GROUP" lp-display="block">
                    <div class="widget-content">
                        <div id="LINE6" class="widget-element widget-snap" lp-type="line" lp-lang="LINE" lp-group="GROUP212" lp-display="block">
                            <div class="widget-content">
                                <div class="line"></div>
                            </div>
                        </div>
                        <div id="HEADLINE8" class="widget-element widget-snap" lp-type="textinline" lp-editor="true" lp-lang="HEADLINE" lp-group="GROUP212"
                            lp-display="block">
                            <h1 class="widget-content" lp-node="h1">ĐẶC ĐIỂM <br> NỔI BẬT</h1>
                        </div>
                        <div id="LISTOP20" class="widget-element widget-snap widget-dragg" lp-type="listop" lp-editor="true" lp-lang="LISTOP" lp-group="GROUP212"
                            lp-display="block">
                            <ol class="widget-content">
                                <li color="" style="color: rgb(255, 255, 255);">Chương trình chia sẻ lợi nhuận <span style="color: #f4ae2c">90:10</span></li>
                                <li color="" style="color: rgb(255, 255, 255);">Dễ dàng thanh khoản chỉ với <span style="color: #f4ae2c">30%</span> giá trị</li>
                                <li color="" style="color: rgb(255, 255, 255);">Chiết khấu <span style="color: #f4ae2c">6%</span> khi thanh toán trước hạn</li>
                                <li color="" style="color: rgb(255, 255, 255);">Chiết khấu <span style="color: #f4ae2c">16%</span> đối với CT cho thuê</li>
                                <li color="" style="color: rgb(255, 255, 255);">Hạ tầng nổi bật - liên kết vùng hoàn hảo</li>
                                <li color="" style="color: rgb(255, 255, 255);">Sản phẩm đạt tiêu chuẩn 5 sao quốc tế</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div id="GROUP213" class="widget-element widget-snap widget-group" lp-type="widget_group" lp-lang="GROUP" lp-display="block">
                    <div class="widget-content">
                        <div id="LINE52" class="widget-element widget-snap" lp-type="line" lp-lang="LINE" lp-group="GROUP213" lp-display="block">
                            <div class="widget-content">
                                <div class="line"></div>
                            </div>
                        </div>
                        <div id="HEADLINE53" class="widget-element widget-snap" lp-type="textinline" lp-editor="true" lp-lang="HEADLINE" lp-group="GROUP213"
                            lp-display="block">
                            <h1 class="widget-content" lp-node="h1">LÝ DO <br> ĐẦU TƯ DỰ ÁN</h1>
                        </div>
                        <div id="LISTOP54" class="widget-element widget-snap widget-dragg" lp-type="listop" lp-editor="true" lp-lang="LISTOP" lp-group="GROUP213"
                            lp-display="block">
                            <ol class="widget-content">
                                <li color="" style="color: rgb(255, 255, 255);">Condotel mặt biển đầu tiên tại 
                                        <span style="color: #f4ae2c">Hội An</span></li>
                                <li color="" style="color: rgb(255, 255, 255);">Vị trí trung tâm Đà Nẵng - Hội An</li>
                                <li color="" style="color: rgb(255, 255, 255);">Giá chỉ <span style="color: #f4ae2c">46tr/m2</span></li>
                                <li color="" style="color: rgb(255, 255, 255);">Chủ đầu tư uy tín <span style="color: #f4ae2c">Bamboo Capital</span></li>
                                <li color="" style="color: rgb(255, 255, 255);">Kiến trúc độc đáo</li>
                                <li color="" style="color: rgb(255, 255, 255);">Tiện ích nội khu đa dạng</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div id="GROUP214" class="widget-element widget-snap widget-group" lp-type="widget_group" lp-lang="GROUP" lp-display="block">
                    <div class="widget-content">
                        <div id="LINE56" class="widget-element widget-snap" lp-type="line" lp-lang="LINE" lp-group="GROUP214" lp-display="block">
                            <div class="widget-content">
                                <div class="line"></div>
                            </div>
                        </div>
                        <div id="HEADLINE57" class="widget-element widget-snap" lp-type="textinline" lp-editor="true" lp-lang="HEADLINE" lp-group="GROUP214"
                            lp-display="block">
                            <h1 class="widget-content" lp-node="h1">ƯU ĐÃI <br> ĐẶC BIỆT</h1>
                        </div>
                        <div id="LISTOP58" class="widget-element widget-snap widget-dragg" lp-type="listop" lp-editor="true" lp-lang="LISTOP" lp-group="GROUP214"
                            lp-display="block">
                            <ol class="widget-content">
                                <li color="" style="color: rgb(255, 255, 255);">Hỗ trợ vay lên đến <span style="color: #f4ae2c">75%</span> giá trị căn hộ</li>
                                <li color="" style="color: rgb(255, 255, 255);">Bốc thăm trúng thưởng Mercedes GLC</li>
                                <li color="" style="color: rgb(255, 255, 255);">Chiết khấu <span style="color: #f4ae2c">1%</span> khi mua 2 căn</li>
                                <li color="" style="color: rgb(255, 255, 255);">Chiết khấu <span style="color: #f4ae2c">2%</span> khi mua 3 căn</li>
                                <li color="" style="color: rgb(255, 255, 255);">Được sử dụng <span style="color: #f4ae2c">15 đêm</span> nghỉ dưỡng/năm</li>
                                <li color="" style="color: rgb(255, 255, 255);">Tặng vé máy bay đi tham quan dự án</li>
                                
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ladi-widget-overlay"></div>
        </div>
        <div id="SECTION165" class="widget-section ladi-drop" lp-type="widget_section" lp-widget="widget" lp-lang="SECTION" lp-display="block">
                <div class="container ">
                    <div id="BOX187" class=" box187-fix widget-element widget-snap ladi-drop" lp-type="box" lp-lang="BOX" lp-display="block">
                        <div class="widget-content"></div>
                        <div class="ladi-widget-overlay"></div>
                    </div>
                    <div id="HEADLINE188" class="widget-element widget-snap fix-nofi1" lp-type="textinline" lp-editor="true" lp-lang="HEADLINE" lp-display="block">
                        <h2 class="widget-content" lp-node="h2">THÔNG TIN DỰ ÁN</h2>
                    </div>
                    <div id="LINE189" class="widget-element widget-snap fix-nofi2" lp-type="line" lp-lang="LINE" lp-display="block">
                        <div class="widget-content">
                            <div class="line"></div>
                        </div>
                    </div>
                    <div id="LISTOP190" class="widget-element widget-snap widget-dragg fix-nofi3" lp-type="listop" lp-editor="true" lp-lang="LISTOP" lp-display="block">
                        <ol class="widget-content">
                            <li color="" style="color: rgb(0, 0, 0);"><strong>Chủ đầu tư:</strong> Công ty CP Bamboo Capital</li>
                            <li color="" style="color: rgb(0, 0, 0);"><strong>Đơn vị quản lý:</strong> MGM Resorts International (USA)</li>
                            <li color="" style="color: rgb(0, 0, 0);"><strong>Đơn vị thiết kế:</strong> BAKH Architecture</li>
                            <li color="" style="color: rgb(0, 0, 0);"><strong>Đơn vị xây dựng:</strong> Hòa Bình</li>
                            <li color="" style="color: rgb(0, 0, 0);"><strong>Quy mô dự án:</strong> 690 căn hộ Condotel, 95 biệt thự</li>
                            <li color="" style="color: rgb(0, 0, 0);"><strong>Diện tích villa:</strong> Khoảng 300 - 400 m<sup>2</sup></li>
                            <li color="" style="color: rgb(0, 0, 0);"><strong>Diện tích căn hộ:</strong> Khoảng 46 m<sup>2</sup></li>
                            <li color="" style="color: rgb(0, 0, 0);"><strong>Giá dự kiến:</strong> 46tr/m<sup>2</sup> bao gồm VAT và full nội thất
                            </li>
                            <li color="" style="color: rgb(0, 0, 0);"><strong>Thời gian bàn giao:</strong> Dự kiến quý 3 năm 2020</li>
    
                        </ol>
                    </div>
                </div>
                <div class="ladi-widget-overlay"></div>
        </div>
        <div id="SECTION180" class="widget-section ladi-drop" lp-type="widget_section" lp-widget="widget" lp-lang="SECTION" lp-display="block">
                <div class="container">
                    <!-- <div id="BOX181" class="widget-element widget-snap ladi-drop" lp-type="box" lp-lang="BOX" lp-display="block">
                        <div class="widget-content"></div>
                        <div class="ladi-widget-overlay"></div>
                    </div> -->
                    <div id="HEADLINE183" class="widget-element widget-snap" lp-type="textinline" lp-editor="true" lp-lang="HEADLINE" lp-display="block">
                        <h2 class="widget-content" lp-node="h2">VỊ TRÍ DỰ ÁN</h2>
                    </div>
                    <div id="LINE184" class="widget-element widget-snap" lp-type="line" lp-lang="LINE" lp-display="block">
                        <div class="widget-content">
                            <div class="line"></div>
                        </div>
                    </div>
                    <div id="LISTOP185" class="widget-element widget-snap widget-dragg" style="text-align: justify" lp-type="listop" lp-editor="true"
                        lp-lang="LISTOP" lp-display="block">
                        <span class="sub-vitri">
                            Là condotel mặt biển đầu tiên tại Hội An, MGM Resorts và Villas toạ lạc trên đường Trường Sa - tuyến đường "vàng” kết nối Hội An - Đà Nẵng cùng quần thể resort ven biển đẳng cấp. <br> Hơn thế nữa, MGM còn thể hiện vị trí độc tôn khi sở hữu riêng cho mình bãi biển Hà My thuộc top bãi biển đẹp nhất thế giới. <br>
                            Từ dự án , chỉ mất 15 phút để kết nối Sân bay quốc tế Đà Nẵng và 10 phút để kết nối Phố cổ Hội An.
                        </span>
                    </div>

                    <div id="BOX181" class="widget-element widget-snap ladi-drop" lp-type="box" lp-lang="BOX" lp-display="block">
                            <div class="widget-content"></div>
                            <div class="ladi-widget-overlay"></div>
                        </div>
                </div>
                <div class="ladi-widget-overlay"></div>
        </div>
        <div id="SECTION186" class="widget-section ladi-drop" lp-type="widget_section" lp-widget="widget" lp-lang="SECTION" lp-display="block">
                <div class="container">
                    <div id="BOX187" class="widget-element widget-snap ladi-drop" lp-type="box" lp-lang="BOX" lp-display="block" style="height: 430px;">
                        <div class="widget-content img-fix"></div>
                        <div class="ladi-widget-overlay"></div>
                    </div>
                    <div id="HEADLINE188" class="widget-element widget-snap" lp-type="textinline" lp-editor="true" lp-lang="HEADLINE" lp-display="block">
                        <h2 class="widget-content" lp-node="h2">TIỆN ÍCH DỰ ÁN</h2>
                    </div>
                    <div id="LINE189" class="widget-element widget-snap" lp-type="line" lp-lang="LINE" lp-display="block">
                        <div class="widget-content">
                            <div class="line"></div>
                        </div>
                    </div>
                    <div id="LISTOP190" class=" gadget-fix widget-element widget-snap widget-dragg" lp-type="listop" lp-editor="true" lp-lang="LISTOP" lp-display="block">
                        <ol class="widget-content gadget-fix-copy">
                            <!-- <li class="first" color="" style="color: rgb(0, 0, 0);">
                                <strong>Thể thao:</strong> Khu vực hồ bơi, khu vực trò chơi dưới nước dành cho trẻ em, phòng tập gym , trung tâm Spa chăm sóc sắc đẹp</li> -->
                            
                            <li style="color: rgb(0, 0, 0);">
                                    <strong>Thể thao:</strong> Khu vực hồ bơi, trò chơi dưới nước, phòng tập gym , trung tâm Spa chăm sóc sắc đẹp</li>
                            <li color="" style="color: rgb(0, 0, 0);">
                                <strong>Ẩm thực:</strong> Nhà hàng Nhật Sushi Pool Bar, nhà hàng BBQ: Joy</li>
                            <li color="" style="color: rgb(0, 0, 0);">
                                <strong>Dịch vụ:</strong> Yoga bãi biển, thể dục buổi sáng</li>
                            <li color="" style="color: rgb(0, 0, 0);">
                                <strong>Dành cho thanh thiếu niên:</strong> Ném bóng nước, nấu ăn ngoài trời</li>
                            <li color="" style="color: rgb(0, 0, 0);">
                                <strong>Dành cho người lớn:</strong> Hoạt động thể dục , thể thao</li>
                            <li color="" style="color: rgb(0, 0, 0);">
                                <strong>Dành cho trẻ em:</strong> Trò chơi trẻ em mang tính giáo dục, thể thao nhẹ, dạy bơi</li>
                            <li color="" style="color: rgb(0, 0, 0);">
                                <strong>Dịch vụ cá nhân:</strong> Dịch vụ nhà hàng, tiệc cưới</li>                            
                        </ol>
                    </div>
                </div>
                <div class="ladi-widget-overlay"></div>
        </div>
        <div id="SECTION240" class="widget-section ladi-drop" lp-type="widget_section" lp-widget="widget" lp-lang="SECTION" lp-display="block">
                    <div class="container">
                        <div id="IMAGE236" class="widget-element widget-snap ladi-drop" lp-type="image" lp-lang="IMAGE" lp-display="block">
                            <div class="widget-content">
                                <div class="lp-show-image" alt="/public/client/imgs/phoi-canh.png"></div>
                                <div class="lp-show-image"></div>
                            </div>
                            <div class="ladi-widget-overlay"></div>
                        </div>
                        <div id="LISTOP237" class="widget-element widget-snap widget-dragg" lp-type="listop" lp-editor="true" lp-lang="LISTOP" lp-display="block">
                                <span style="font-weight: 400;
                                    color: rgb(255, 255, 255);
                                    line-height: 32px;
                                    font-size: 16px;">
                                    Thiết kế MGM Hội An sẽ do kiến trúc sư tài ba Bill Bensley - phù thủy của những khu resort (kiến trúc sư thiết kế InterContinental Đà Nẵng) đảm nhận. Lấy ý tưởng tái hiện lại lịch sử, văn hóa đặc trưng của người Việt thông qua các chi tiết đầy sáng tạo và độc đáo. Khu Resort & Villas MGM Hội An được thiết kế với 4 khu vực:
                            </span>
                            <br>
                            <ol class="widget-content fix-list">
                                <li class="fix-list-li">Heaven (Thiên đường)</li>
                                <li class="fix-list-li">Earth (Mặt đất)</li>
                                <li class="fix-list-li">Sky (Bầu trời)</li>
                                <li class="fix-list-li">Sea ( Biển cả)</li>
                            </ol>
                            <span style="font-weight: 400;
                                    color: rgb(255, 255, 255);
                                    line-height: 32px;
                                    font-size: 16px;">
                                    Dự án hứa hẹn sẽ đáp ứng trọn vẹn nhu cầu của nhà đầu tư và mang lại không gian nghỉ dưỡng lý tưởng cho cư dân và du khách lưu trú
                                </span>
                        </div>
                        <div id="LINE238" class="widget-element widget-snap" lp-type="line" lp-lang="LINE" lp-display="block">
                            <div class="widget-content">
                                <div class="line"></div>
                            </div>
                        </div>
                        <div id="HEADLINE239" class="widget-element widget-snap" lp-type="textinline" lp-editor="true" lp-lang="HEADLINE" lp-display="block">
                            <h2 class="widget-content" lp-node="h2">SƠ ĐỒ MẶT BẰNG</h2>
                        </div>
                    </div>
                    <div class="ladi-widget-overlay"></div>
        </div>
        <div id="SECTION70" class="widget-section ladi-drop" lp-type="widget_section" lp-widget="widget" lp-lang="SECTION" lp-display="block">
                <div class="container">
                    <div id="HEADLINE71" class="widget-element widget-snap" lp-type="textinline" lp-editor="true" lp-lang="HEADLINE" lp-display="block">
                        <h1 class="widget-content" lp-node="h1"></h1>
                    </div>
                    <div id="BOX73" class="widget-element widget-snap ladi-drop" lp-type="box" lp-lang="BOX" lp-display="block" style="text-align: center ">
                        <div class="widget-content"></div>
                        <div class="ladi-widget-overlay"></div>
                        <span class="sub-tienich">Tổng thể dự án</span>
                    </div>
                    <div id="HEADLINE104" class="widget-element widget-snap" lp-type="textinline" lp-editor="true" lp-lang="HEADLINE" lp-display="block">
                        <h1 class="widget-content" lp-node="h1">HÌNH ẢNH THỰC TẾ DỰ ÁN</h1>
                    </div>
                    <div id="LINE184" class="widget-element widget-snap fix-line" lp-type="line" lp-lang="LINE" lp-display="block">
                        <div class="widget-content">
                            <div class="line"></div>
                        </div>
                    </div>
                    <div id="BOX105" class="widget-element widget-snap ladi-drop" lp-type="box" lp-lang="BOX" lp-display="block" style="text-align: center ">
                        <div class="widget-content"></div>
                        <div class="ladi-widget-overlay"></div>
                        <span class="sub-tienich">Chăm sóc sức khỏe</span>
                    </div>
                    <div id="BOX106" class="widget-element widget-snap ladi-drop" lp-type="box" lp-lang="BOX" lp-display="block" style="text-align: center">
                        <div class="widget-content"></div>
                        <div class="ladi-widget-overlay"></div>
                        <span class="sub-tienich">Tận hưởng cá nhân</span>
                    </div>
                    <div id="BOX107" class="widget-element widget-snap ladi-drop" lp-type="box" lp-lang="BOX" lp-display="block" style="text-align: center ">
                        <div class="widget-content"></div>
                        <div class="ladi-widget-overlay"></div>
                        <span class="sub-tienich">Dịch vụ đa dạng</span>
                    </div>
                    <div id="BOX108" class="widget-element widget-snap ladi-drop" lp-type="box" lp-lang="BOX" lp-display="block" style="text-align: center ">
                        <div class="widget-content"></div>
                        <div class="ladi-widget-overlay"></div>
                        <span class="sub-tienich">Tầm nhìn thoáng đãng</span>
                    </div>
                    <div id="BOX109" class="widget-element widget-snap ladi-drop" lp-type="box" lp-lang="BOX" lp-display="block" style="text-align: center ">
                        <div class="widget-content"></div>
                        <div class="ladi-widget-overlay"></div>
                        <span class="sub-tienich">Bờ biển quyến rũ</span>
                    </div>
                </div>
                <div class="ladi-widget-overlay"></div>
        </div>
        <div id="SECTION110" class="widget-section ladi-drop" lp-type="widget_section" lp-widget="widget" lp-lang="SECTION" lp-display="block">
                <div class="container">
                    <div id="GROUP215" class="widget-element widget-snap widget-group" lp-type="widget_group" lp-lang="GROUP" lp-display="block">
                        <div class="widget-content">
                            <div id="PARAGRAPH114" class="widget-element widget-snap" lp-type="textparagraph" lp-editor="true" lp-lang="PARAGRAPH" lp-group="GROUP215"
                                lp-display="block">
                                <p class="widget-content" lp-node="p">Đối với dòng sản phẩm 5 sao cùng kiến trúc độc đáo, chủ đầu tư cam kết: 100% căn hộ condotel và biệt thự sở hữu lâu dài</p>
                            </div>
                            <div id="SHAPE117" class="widget-element widget-snap" lp-type="shape" lp-lang="SHAPE" lp-group="GROUP215" lp-display="block">
                                <div class="widget-content" style="display: flex; align-items: center; justify-content: center">
                                    <i class="fas fa-handshake" style="font-size: 45px"></i>
                                </div>
                            </div>
                            <div id="HEADLINE118" class="widget-element widget-snap" lp-type="textinline" lp-editor="true" lp-lang="HEADLINE" lp-group="GROUP215"
                                lp-display="block">
                                <h5 class="widget-content" lp-node="h5">THỜI HẠN SỞ HỮU</h5>
                            </div>
                        </div>
                    </div>
                    <div id="GROUP216" class="widget-element widget-snap widget-group" lp-type="widget_group" lp-lang="GROUP" lp-display="block">
                        <div class="widget-content">
                            <div id="PARAGRAPH146" class="widget-element widget-snap" lp-type="textparagraph" lp-editor="true" lp-lang="PARAGRAPH" lp-group="GROUP216"
                                lp-display="block">
                                <p class="widget-content" lp-node="p">Thiết kế độc đáo theo thế đất "Toạ sơn hướng thuỷ" mang lại view biển thoáng đãng cho cư dân và
                                    khách lưu trú</p>
                            </div>
                            <div id="SHAPE147" class="widget-element widget-snap" lp-type="shape" lp-lang="SHAPE" lp-group="GROUP216" lp-display="block">
                                <div class="widget-content" style="display: flex; align-items: center; justify-content: center">
                                    <i class="fas fa-lightbulb" style="font-size: 45px"></i>
                                </div>
                            </div>
                            <div id="HEADLINE148" class="widget-element widget-snap" lp-type="textinline" lp-editor="true" lp-lang="HEADLINE" lp-group="GROUP216"
                                lp-display="block">
                                <h5 class="widget-content" lp-node="h5">KIẾN TRÚC ẤN TƯỢNG</h5>
                            </div>
                        </div>
                    </div>
                    <div id="GROUP217" class="widget-element widget-snap widget-group" lp-type="widget_group" lp-lang="GROUP" lp-display="block">
                        <div class="widget-content">
                            <div id="PARAGRAPH162" class="widget-element widget-snap" lp-type="textparagraph" lp-editor="true" lp-lang="PARAGRAPH" lp-group="GROUP217"
                                lp-display="block">
                                <p class="widget-content" lp-node="p">MGM Resorts International là một trong những công ty S&P500 về cung ứng dịch vụ giải trí quy mô toàn cầu</p>
                            </div>
                            <div id="SHAPE163" class="widget-element widget-snap" lp-type="shape" lp-lang="SHAPE" lp-group="GROUP217" lp-display="block">
                                <div class="widget-content" style="display: flex; align-items: center; justify-content: center">
                                    <i class="fas fa-chart-line" style="font-size: 45px"></i>
                                </div>
                            </div>
                            <div id="HEADLINE164" class="widget-element widget-snap" lp-type="textinline" lp-editor="true" lp-lang="HEADLINE" lp-group="GROUP217"
                                lp-display="block">
                                <h5 class="widget-content" lp-node="h5">ĐƠN VỊ QUẢN LÝ</h5>
                            </div>
                        </div>
                    </div>
                    <div id="GROUP218" class="widget-element widget-snap widget-group" lp-type="widget_group" lp-lang="GROUP" lp-display="block">
                        <div class="widget-content">
                            <div id="PARAGRAPH158" class="widget-element widget-snap" lp-type="textparagraph" lp-editor="true" lp-lang="PARAGRAPH" lp-group="GROUP218"
                                lp-display="block">
                                <p class="widget-content" lp-node="p">Với diện tích hơn 110.317 m2, MGM Hội An Resorts và Villas bao gồm 690 căn hộ condotel và 95 biệt thự với 63% mật độ cây xanh</p>
                            </div>
                            <div id="SHAPE159" class="widget-element widget-snap" lp-type="shape" lp-lang="SHAPE" lp-group="GROUP218" lp-display="block">
                                <div class="widget-content" style="display: flex; align-items: center; justify-content: center">
                                    <i class="fas fa-hotel" style="font-size: 45px"></i>
                                </div>
                            </div>
                            <div id="HEADLINE160" class="widget-element widget-snap" lp-type="textinline" lp-editor="true" lp-lang="HEADLINE" lp-group="GROUP218"
                                lp-display="block">
                                <h5 class="widget-content" lp-node="h5">QUY MÔ DỰ ÁN</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ladi-widget-overlay"></div>
        </div>

        <div id="SECTION188" class=" height-ss180-copy bgr-white-180-2 widget-section ladi-drop" lp-type="widget_section" lp-widget="widget" lp-lang="SECTION" lp-display="block">
            <div class="container container-reset">
                <div id="HEADLINE184" class=" text-center-tdtt widget-element widget-snap" lp-type="textinline" lp-editor="true" lp-lang="HEADLINE" lp-display="block">
                    <h2 class="widget-content widget-content-copy-2" lp-node="h2">TIẾN ĐỘ THANH TOÁN</h2>
                </div>
                <div id="LINE184" class="widget-element widget-snap" lp-type="line" lp-lang="LINE" lp-display="block">
                    <div class="widget-content">
                        <div class="line"></div>
                    </div>
                </div>

                <div id="BOX181" class=" bgr-pay-bt2 pay-bt2 widget-element widget-snap ladi-drop" lp-type="box" lp-lang="BOX" lp-display="block">
                        <div class="pay-bt2 widget-content"></div>
                        <div class="ladi-widget-overlay"></div>
                    </div>
            </div>
            <div class="ladi-widget-overlay ladi-widget-overlay-white-2 "></div>
    </div>
        
        <div id="SECTION191" class="widget-section ladi-drop" lp-type="widget_section" lp-widget="widget" lp-lang="SECTION" lp-display="block">
            <div class="container">
                <div id="BOX329" class="widget-element widget-snap ladi-drop" lp-type="box" lp-lang="BOX" lp-display="block">
                    <div class="widget-content">
                        <div id="HEADLINE330" class="widget-element widget-snap" lp-type="textinline" lp-editor="true" lp-lang="HEADLINE" lp-display="block">
                            <p class="widget-content" lp-node="p">Địa chỉ: 220 Nguyễn Hữu Thọ, Hải Châu, TP. Đà Nẵng
                                <br>
                            </p>
                        </div>
                        <div id="SHAPE331" class="widget-element widget-snap" lp-type="shape" lp-lang="SHAPE" lp-display="block">
                            <div class="widget-content">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 24 24"
                                    fill="rgba(255,255,255,1)">
                                    <path d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z"></path>
                                </svg>
                            </div>
                        </div>
                        <div id="SHAPE332" class="widget-element widget-snap" lp-type="shape" lp-lang="SHAPE" lp-display="block">
                            <div class="widget-content">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 24 24"
                                    fill="rgba(255,255,255,1)">
                                    <path d="M6.62,10.79C8.06,13.62 10.38,15.94 13.21,17.38L15.41,15.18C15.69,14.9 16.08,14.82 16.43,14.93C17.55,15.3 18.75,15.5 20,15.5A1,1 0 0,1 21,16.5V20A1,1 0 0,1 20,21A17,17 0 0,1 3,4A1,1 0 0,1 4,3H7.5A1,1 0 0,1 8.5,4C8.5,5.25 8.7,6.45 9.07,7.57C9.18,7.92 9.1,8.31 8.82,8.59L6.62,10.79Z"></path>
                                </svg>
                            </div>
                        </div>
                        <div id="HEADLINE333" class="widget-element widget-snap" lp-type="textinline" lp-editor="true" lp-lang="HEADLINE" lp-display="block">
                            <p class="widget-content" lp-node="p">Hotline: 0931 43 43 43</p>
                        </div>
                        <div id="HEADLINE334" class="widget-element widget-snap" lp-type="textinline" lp-editor="true" lp-lang="HEADLINE" lp-display="block">
                            <p class="widget-content" lp-node="p">Email: cityavietnam@gmail.com</p>
                        </div>
                        <div id="SHAPE335" class="widget-element widget-snap" lp-type="shape" lp-lang="SHAPE" lp-display="block">
                            <div class="widget-content">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 24 24"
                                    fill="rgba(255,255,255,1)">
                                    <path d="M20,4H4A2,2 0 0,0 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6A2,2 0 0,0 20,4M20,18H4V8L12,13L20,8V18M20,6L12,11L4,6V6H20V6Z"></path>
                                </svg>
                            </div>
                        </div>
                        <div id="HEADLINE338" class="widget-element widget-snap" lp-type="textinline" lp-editor="true" lp-lang="HEADLINE" lp-display="block">
                            <h5 class="widget-content" lp-node="h5">Vui lòng để lại thông tin bên dưới để được tư vấn</h5>
                        </div>
                        <div id="FORM339" class="widget-element widget-snap" lp-type="contact_form" lp-lang="FORM" lp-type-form="google" lp-message-form="Cám ơn bạn đã quan tâm"
                            lp-data-form="{}" lp-display="block">
                            <form class="widget-content" action="/subscribe" method="POST" role="form">
                                <div id="ITEM_FORM340" class="widget-element widget-snap widget-dragg widget-item-child" lp-type="item_form" lp-lang="ITEM_FORM"
                                    lp-display="block">
                                    <input class="widget-content" type="text" placeholder="Họ và tên" name="fullName" lp-label="Họ và tên" lp-name-id="name" required="required">
                                </div>
                                <div id="ITEM_FORM342" class="widget-element widget-snap widget-dragg widget-item-child" lp-type="item_form" lp-lang="ITEM_FORM"
                                    lp-display="block">
                                    <input class="widget-content" type="tel" required="required"
                                        placeholder="Nhập Số điện thoại" name="phone" lp-label="Điện thoại" lp-name-id="phone">
                                </div>
                                <div id="ITEM_FORM341" class="widget-element widget-snap widget-dragg widget-item-child" lp-type="item_form" lp-lang="ITEM_FORM"
                                    lp-display="block">
                                    <input class="widget-content" type="email" placeholder="Nhập Email" name="email" lp-label="Email" lp-name-id="email" required="required">
                                    <input class="widget-content" style="margin-top: 15px;" type="text" placeholder="Phản hồi" name="content" lp-label="content"
                                        lp-name-id="content" required="required">
                                </div>
                                <button class="widget-element widget-snap style-1 ladi-drop btn-form" style="z-index: 2; cursor: pointer;" type="submit">NHẬN BẢNG GIÁ</button>
                            </form>
                        </div>
                    </div>
                    <div class="ladi-widget-overlay"></div>
                </div>
                <div id="PARAGRAPH345" class="widget-element widget-snap" lp-type="textparagraph" lp-editor="true" lp-lang="PARAGRAPH" lp-display="block">
                    <div id="HEADLINE188" class="widget-element widget-snap fix-loiich1" lp-type="textinline" lp-editor="true" lp-lang="HEADLINE" lp-display="block">
                        <h2 class="widget-content" lp-node="h2">HÃY ĐẦU TƯ <br> DỰ ÁN MGM HỘI AN VÌ :</h2>
                    </div>
                    <div id="LINE189" class="widget-element widget-snap fix-loiich2" lp-type="line" lp-lang="LINE" lp-display="block">
                        <div class="widget-content">
                            <div class="line"></div>
                        </div>
                    </div>
                    <div id="LISTOP190" class="widget-element widget-snap widget-dragg fix-loiich3" lp-type="listop" lp-editor="true" lp-lang="LISTOP" lp-display="block">
                        <ol class="widget-content text-uppercase">
                            <li color="" style="color: #fff;">Tiềm năng tăng giá cao trong tương lai</li>
                            <li color="" style="color: #fff;">Thời cơ đầu tư phù hợp</li>
                            <li color="" style="color: #fff;">Lợi nhuận bền vững</li>
                            <li color="" style="color: #fff;">Chủ đầu tư kinh nghiệm</li>
                            <li color="" style="color: #fff;">ĐƠN VỊ VẬN HÀNH UY TÍN</li>
                            <li color="" style="color: #fff;">Khả năng thanh toán linh hoạt</li>

                        </ol>
                    </div>
                </div>
            </div>
            <div class="ladi-widget-overlay"></div>
        </div>
    </div>
    <div class="phone-call">
        <a href="tel:0931 43 43 43" class="phone-call__icon">
            <i class="fa fa-phone"></i>
        </a>
        <div class="phone-call__content--wrap">
            <div class="phone-call__content--item">
                <a href="tel:0931 43 43 43">0931 43 43 43</a>
            </div>
        </div>
    </div>
    <button class="btn__subscribe">NHẬN BẢNG GIÁ</button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#BUTTON260, .btn__subscribe").click(function () {
                $('html, body').animate({
                    scrollTop: $("#FORM339").offset().top
                }, 1000);
            });
        });
    </script>
</body>

</html>