<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Resort & Villas MGM Hội AN</title>
	<meta name="author" content="Hilton">

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.min.css"/>
	<link rel="stylesheet" type="text/css"
		  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/public/client/css/style.bundle.css">
	<!-- mã seo -->
          <!-- Facebook Pixel Code -->
          <script>
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window,document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
             fbq('init', '761068170719863'); 
            fbq('track', 'PageView');
            </script>
            <noscript>
             <img height="1" width="1" 
            src="https://www.facebook.com/tr?id=761068170719863&ev=PageView
            &noscript=1"/>
            </noscript>
            <!-- End Facebook Pixel Code -->
        
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110308730-2"></script>
            <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-110308730-2');
            </script>
</head>
<body>
<main class="thank__page">
	<div class="thank__overlay"></div>
	<div class="thank__content">
		<div class="thank__icon--success">
			<i class="fa fa-check" aria-hidden="true"></i>
		</div>
		<h2>Đăng ký
			<br>thành công</h2>
		<p class="thank__desc">Cảm ơn quý anh chị đã đăng ký nhận bảng giá.</p>
		<p class="thank__desc">Chúng tôi sẽ sớm liên hệ với quý anh chị.</p>


		<div class="thank__line"></div>

		<div class="thank__info">
			<div class="thank__info--item">
			</div>
			<div class="thank__info--item">
				<h3>RESORT & VILLAS MGM HỘI AN</h3>
				<p class="contact__info mgTop31">• HOTLINE:
					<a href="tel:0931 43 43 43" class="text--white" style="text-decoration: none; color: #fff" >0931 43 43 43</a>
				</p>
				<p class="contact__info mgTop31">• Địa chỉ: 220 Nguyễn Hữu Thọ, Hải Châu, TP. Đà Nẵng </p>
			</div>
		</div>

	</div>
</main>
</body>
</html>
