#SECTION110 {
    background-position: bottom !important;
}

#HEADLINE183 {
    top: 75px;
    left: 180px;
    padding: 0px;
    width: 374px;
    height: 36px;
    /* transform: translateX(50%); */
}


#LINE184 {
    /* top: 340px; */
    left: 329px;
    width: 263px;
    height: 25px;
}

#LISTOP185 {
    top: 164px;
    left: 0;
    width: 100%;
    height: 170px;
}

/* vị trí */

#BOX181>.widget-content {
    background-image: url("/public/client/imgs/minhhoa2.2.jpg");
    background-origin: content-box;
    background-attachment: scroll;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: rgba(13, 13, 13, 0.96);
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: rgba(0, 0, 0, 1);
    background-origin: content-box;
    background-size: cover;
    background-attachment: scroll;
    background-position: top center;
    background-repeat: no-repeat;
}

#BOX181 {
    left: 0px;
    width: 100%;
    height: 485px;
    bottom: 45px;
}

.sub-vitri {
    line-height: 27px !important;
}

#SECTION250 {
    background-position: center !important;
}

@media (max-width: 767px) {
    #LINE184 {
        left: 60px;
        top: 100px;
    }
    #HEADLINE183 {
        left: 0;
        top: 65px;
    }
    #SECTION186 {
        height: 1000px;
    }
    #HEADLINE188 {
        top: 50px;
        left: 0.5px;
        padding: 0px;
        width: 374px;
        height: 36px;
    }
    #LINE189 {
        top: 90px;
    }
    #BOX187 {
        bottom: 20px;
    }

}

 /* tiện ích */

.gadget-fix {
    top: 145px !important;
}

/* mặt bằng */

#IMAGE236 .widget-content:first-child .lp-show-image:first-child {
    background-image: url('/public/client/imgs/phoi-canh.jpg');
    height: 80%;
}

#IMAGE236 {
    top: 142px;
}

#HEADLINE239 {
    top: 68px !important;
}

#LINE238 {
    top: 107px !important;
}

@media (max-width: 767px) {

    #SECTION240 {
        height: 1090px;

    }

    #LISTOP237 {
        top: 140px;
    }
    #IMAGE236 {
    top: unset;
    left: 10px;
    width: 345px;
    height: 360px;
    bottom: 10px;
    }
}


/* tiến độ thanh toán */

/* .text-center-tdtt {
    transform: translateX(66%) !important;
} */

#SECTION188 > .bgr-white-180-2 {
    background-color: rgba(255, 255, 255, 1) !important;
}

#SECTION188>.ladi-widget-overlay-white-2 {
    background-color: rgba(255, 255, 255, 1) !important;

}

h2.widget-content.widget-content-copy-2 {
    font-size: 26px;
}

.height-ss180-copy {
    height: 670px;
}

@media (max-width: 767px) {
    .height-ss180-copy {
        height: 520px;
    }
}

@media (max-width: 767px)
    {
    #BOX181 {
    /* top: 20px; */
    /* top: 172px; */
    left: 8px;
    width: 345px;
    height: 275px;
    }
 }



#SECTION188 {
    display: block;
    background-image: url(https://static.ladipage.net/s1440x600/57b167c…/homepage_header-12.jpg);
    background-color: rgba(13, 13, 13, 1);
    background-size: cover;
    background-attachment: fixed;
    background-position: top left;
    background-repeat: no-repeat;
}

#HEADLINE184 {
    top: 75px;
    left: 320px;
    padding: 0;
    width: 374px;
    height: 36px;
    display: block;
}
@media (max-width: 767px) { 
    #HEADLINE184 {
        top: 63px;
        left: 0;
        padding: 0;
        width: 374px;
        height: 36px;
        display: block;
    }

}

#HEADLINE184>.widget-content {
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: rgba(238, 158, 10, 1);
    font-weight: 400;
    line-height: 36px;
}


#BOX181> .pay-bt2 {
    background-image: url("/public/client/imgs/thanh-toan-bt-2.jpg");
    background-origin: content-box;
    background-attachment: scroll;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: rgba(13, 13, 13, 0.96);
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: rgba(0, 0, 0, 1);
    background-origin: content-box;
    background-size: cover;
    background-attachment: scroll;
    background-position: top center;
    background-repeat: no-repeat;
}


#BOX181.bgr-pay-bt2 {
    left: 0px;
    width: 100%;
    height: 422px;
    bottom: 90px;
}
@media (max-width: 767px) {
    #BOX181.bgr-pay-bt2 {
        left: -151px;
        width: 100%;
        height: 295px;
        bottom: 90px;
        top: 165px;
    }        
}


#LISTOP190 > .text-uppercase {
    text-transform: uppercase;
}


/* resposive x1 */
@media(max-width: 767px) {
.container-reset {
    width: 100%!important;
}

#LISTOP190 {
    left: -3px;
}

#BOX181.bgr-pay-bt2 {
    left: 0;
    width: 670px;
    height: 221px;
    bottom: 90px;
    top: 165px;
    display: block;
    width: 100%;
}

#HEADLINE184 {
    width: 100%;
    text-align: center;
}

#LINE184 {
    width: 100%;
    left: 0;
    text-align: center;
}
#LINE184 .widget-content {
    width: 263px;
}
}
@media(max-width:800px) {
    #BOX329 {
        left: 3px;
    }
}

@media(max-width: 600px) {
    #LISTOP185 {
        left: 0;
    }
    #HEADLINE188 {
        width: 100%;
    }
    #SECTION191 {
        height: 1135px;
    }
    .height-ss180-copy {
        height: 442px;
    }
    #BOX181.bgr-pay-bt2 {
        height: 160px;
    }
    
}

@media (max-width: 480px) {
    #LISTOP185 {
        left: 17px;
    width: 331px;
    }
    #SECTION191 {
        height: 1054px;
    }
    #BOX329 {
        left: 7px;
    }
}

@media(max-width: 320px) {
    #BOX329 {
        left: 3px;
    }
}

@media (max-width: 575.98px) {
    #BOX329 {
        left: 10px;
    }
    #LISTOP190 {
        left: -9px;
    }
}

.fix-list {
    display: flex!important;
    flex-flow: row wrap!important;
}

@media (max-width: 767px) {
    .fix-list {
        display: block!important;
    }
}

.fix-list-li {
    color: #fff;
    width: calc(100% /2 - 10px);
}

@media (max-width: 767px) {
    .fix-list-li {
        color: #fff;
        width: 100%;
    }
}

.fix-line {
    top: 90px!important;
}

/* footer */


