.introduce {
    background: url('../imgs/shophouse-tuan-chau-marina.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.div--logo h2 {
    color: #fff;
}

/* loithecanhtranh */

.adv {
    background-image: url(../imgs/abc-min-f.jpg);
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.adv--content {
    width: 100%;
    height: 100%;
    padding: 100px;
    background: linear-gradient(to top,rgba(255,0,0,0),#502d99);
}
@media (min-width: 768px) and (max-width: 992px) {
    .adv--content {
        padding: 40px;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .adv--content {
        padding: 30px;
    }
}
@media (max-width: 576px) {
    .adv--content {
        padding: 20px;
    }
}
.adv--content p {
    font-size: 16px;
    color: #212529;
    line-height: 24px;
}
@media (min-width: 768px) and (max-width: 992px) {
    .adv--content p {
        font-size: 14px;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .adv--content p {
        font-size: 14px;
    }
}
@media (max-width: 576px) {
    .adv--content p {
        font-size: 14px;
    }
}
.size {
    background: url(../imgs/tuan-chau-marina.jpg) no-repeat 50%;
    background-size: cover;
    padding: 20px;
}

.size__item--left-1 {
    top: -270px;
}

.location {
    background: #a3cdff url(../imgs/vi-tri.png) no-repeat 50%;
    background-size: cover;
    padding: 25px;
}

.location .location--content .content {
    padding-bottom: 15px; 
    background: rgba(80,10,153,.5);
    color: #fff;
}

.location .location--content p {
    padding: 10px;
}

.size {
    display:  flex;
    align-items:  center;
}

.size__wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 50px;
}

.size__item {
    position: static;
}

.btn--size {
    position: static;
    margin-top: 15px;
}

.pdLeft15 li{
    font-size: 14px;
    line-height: 25px;
}

.highlights {
    display: flex;
    align-items: center;
    background: url(../imgs/hinhnen.jpg) no-repeat 50%;
    background-size: cover;
    padding: 25px;
}

.highlights__content {
    position: static;
    transform: translateY(0) !important;
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.highlights__content--bottom {
    margin-top: 25px;
}

.utility {
    padding: 20px;
}

.utility--inside-detail {
    padding-bottom: 35px;
}

.inside--detail-01 {
    background: url(../imgs/rap-chieu-phim.jpg) center;
    background-size: cover;
}

.inside--wrap {
    justify-content: center;
}

.inside--detail-02 {
    background: url(../imgs/dich-vu-y-te.jpg) center;
    background-size: cover;
}

.inside--detail-03 {
    background: url(../imgs/nha-hang-cafe.jpg) center;
    background-size: cover;
}

.inside--detail-04 {
    background: url(../imgs/cua-hang-tien-ich.jpg) center;
    background-size: cover;
}

.inside--detail-05 {
    background: url(../imgs/khu-vuc-kinh-doanh-khach-san.jpg) center;
    background-size: cover;
}

.inside--detail-06 {
    background: url(../imgs/san-choi-the-thao.jpg) center;
    background-size: cover;
}

.inside--detail-07 {
    background: url(../imgs/bai-do-xe.jpg) center;
    background-size: cover;
}

.img--inside {
    width: calc(100% / 4 - 34px);
    margin: 15px;
}

.note--inside {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    font-size: 14px;
}

.title--uppercase {
    text-transform: uppercase;
}

.utility--detail img {
    object-fit: cover;
}

.content--detail {
    font-size: 16px;
}



@media (max-width: 1200px) and (min-width: 992px) {
    .utility--title {
        margin-left: 55vw;
    }
}

@media (max-width: 992px) {
    .highlights__content {
        flex-direction: row;
        justify-content: space-around;
        margin-left: 0;
    }
    .highlights__content--item {
        margin: 0;
    }

    .list__indent {
        margin-left: 0 !important;
    }

    .img--inside {
        width: calc(100% / 2 - 34px);
        margin: 15px;
    }
}


@media (max-width: 768px) {
   .size__wrap {
       align-items: center;
   }
   
   .size__item {
       margin-top: 25px;
       width: 80%;
   }

   .btn--size {
       width: 80%;
       margin: 0 0 20px 0;
   }

   .highlights__content {
     flex-direction: column;
     align-items: center;
    }

    .highlights__content--top {
        margin-bottom: 25px;
    }

    .highlights__content--item {
        width: 80%;
    }


    .utility--content {
        margin-top: 20px;
    }

    .img--inside {
        width: 100%;
    }
}

@media (max-width: 572px) {
    .introduce {
        height: auto;
    }

    .size__item {
        width: 100%;
    }
 
    .btn--size {
        width: 100%;
    }

    .size__item--right h2 {
        font-size: 20px;
    }

    .btn__subscribe {
        font-size: 16px;
    }

    .adv--content {
        width: auto;
    }
}  