@media (min-width: 768px) {
    .phone-call {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 210px;
        height: 60px;
        z-index: 999;
    }
    
    .phone-call__icon {
        position: relative;
        width: 60px;
        height: 60px;
        display: inline-block;
        background-color: #f4ae2c;
        border-radius: 50%;
        font-size: 27px;
        z-index: 999;
    }
    
    .phone-call__icon i {
        position: absolute;
        top: 50%;
        left: 50%;
        display: inline-block;
        color: #fff;
        transform: translate(-50%, -50%);
    }
    
    .phone-call__content--wrap {
        position: absolute;
        top: 0;
        width: 100%;
        height: 60px;
        background-color: #f4ae2c;
        border-radius: 100px;
        text-align: center;
    }
    
    .phone-call__content--item {
        display: inline-block;
        margin-top: 18px;
        margin-left: 50px;
    }
    
    .phone-call__content--wrap a {
        color: #fff;
        font-size: 16px;
        font-weight: bold;
    }
    
    .phone-call__content--wrap a:hover {
        color: #0056b3;
        text-decoration: underline;
    }
    
    .btn__subscribe {
        position: fixed;
        bottom: 20px;
        left: 20px;
        padding: 5px 20px;
        z-index: 999;
        border: 0;
        border-radius: 10px;
        background-color: #f4ae2c;
        cursor: pointer;
        font-size: 22px;
    }
    
    #BUTTON260:hover {
        background-color: #f4ae2c;
    }
}

@media (max-width: 767px) {
    .phone-call {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 210px;
        height: 60px;
        z-index: 999;
    }
    
    .phone-call__icon {
        position: absolute;
        right: 0;
        width: 60px;
        height: 60px;
        display: inline-block;
        background-color: #f4ae2c;
        border-radius: 50%;
        font-size: 27px;
        z-index: 999;
    }
    
    .phone-call__icon i {
        position: absolute;
        top: 50%;
        left: 50%;
        display: inline-block;
        color: #fff;
        transform: translate(-50%, -50%);
    }
    
    .phone-call__content--wrap {
        display: none;
    }
    
    .phone-call__content--item {
        display: inline-block;
        margin-top: 18px;
        margin-left: 50px;
    }
    
    .phone-call__content--wrap a {
        color: #fff;
        font-size: 16px;
        font-weight: bold;
    }
    
    .phone-call__content--wrap a:hover {
        color: #0056b3;
        text-decoration: underline;
    }
    
    .btn__subscribe {
        position: fixed;
        bottom: 20px;
        left: 20px;
        padding: 5px 20px;
        z-index: 999;
        border: 0;
        border-radius: 10px;
        background-color: #f4ae2c;
        cursor: pointer;
        font-size: 18px;
    }
    
    #BUTTON260:hover {
        background-color: #f4ae2c;
    }
}

.img-fix {
    background-image: url("/public/client/imgs/minh-hoa-3.jpg")!important;
}

#LISTOP190>ol.widget-content li.first::before {
    content: counter(linum, none);
    width: 28px;
    height: 20px;
    font-size: 14px;
    color: rgba(238, 158, 10, 1)rgba(238, 158, 10, 1);
    margin-right: 0px;
    content: url('data:image/svg+xml;utf8,<svg fill="rgba(238,158,10,1)rgba(238,158,10,1)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" version="1.0" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" style="pointer-events: none; display: inline-block;"><path d="M19.16 16.767l.753-.754-6.035-6.035-.754.754 5.28 5.28-5.255 5.257.753.753 3.013-3.013z"></path></svg>');
    background-repeat: no-repeat;
    position: relative;
    top: 0px;
    left: 0;
}

.sub-tienich {
    position: absolute;
    bottom: 0px;
    left: 0;
    padding: 8px;
    font-size: 16px;
    color: #fff;
    width: 100%;
    text-align: center;
    background-color: rgba(238, 158, 10, .8);
}

.sub-vitri {
    font-weight: normal;
    color: rgb(255, 255, 255);
    line-height: 22px;
    font-size: 16px;
}

.btn-form {
    top: 155px;
}

.fix-loiich2 {
    top: 130px!important;
}

@media (max-width: 767px) {
    .sub-vitri {
        font-weight: normal;
        color: rgb(255, 255, 255);
        line-height: 22px;
        font-size: 14px;
    }

    .fix-nofi1 {
        top: 270px!important;
    }

    .fix-nofi2 {
        top: 305px!important;
    }

    .fix-nofi3 {
        top: 340px!important;
    }

    .fix-loiich1 {
        top: 20px!important;
    }

    .fix-loiich2 {
        top: 95px!important;
    }

    .fix-loiich3 {
        top: 130px!important;
    }

    .btn-form {
        top: 220px;
    }

    .fix-loiich2 {
        top: 100px!important;
    }
}

.fix-loiich3 {
    top: 160px!important;
}