<% layout('admin/boilerplate_auth') %>
<div class="form login_form">
    <section class="login_content">
        <form action="/auth/password/forgot" method="post" class="form-validation-pl">
            <h1>Quên mật khẩu</h1>
            <p>Vui lòng nhập email, chúng tôi sẽ gửi Link khởi tạo mật khẩu mới qua email của bạn.</p>

            <div>
                <input type="text"
                       name="email" class="form-control"
                       placeholder="Nhập Email" autocomplete="off"
                       pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'
                       required data-parsley-pattern-message="Email không hợp lệ"
                       data-parsley-required-message="Bạn chưa nhập Email">
            </div>

            <div>
                <button class="btn btn-default" type="submit">Gửi mail</button>
                <a class="reset_pass" href="/auth">Đăng nhập</a>
            </div>

            <div class="clearfix"></div>
            <div class="separator">
                <div class="clearfix"></div>
                <br>

                <div>
                    <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                    <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                </div>
            </div>
        </form>
    </section>
</div>