<% layout('admin/boilerplate') %>

<div>
	<div class="page-title">
		<div class="title_left">
			<h3>Hồ sơ cá nhân</h3>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>User Report <small>Activity report</small></h2>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div class="col-md-3 col-sm-3 col-xs-12 profile_left">
						<div class="profile_img">
							<div id="crop-avatar">
								<!-- Current avatar -->
								<img class="img-responsive avatar-view" src="<%= user.profile.picture %>" alt="Avatar" title="Change the avatar">
							</div>
						</div>
						<h3><%= user.profile.name %></h3>

						<ul class="list-unstyled user_data">
							<li>
								<i class="fa fa-envelope" aria-hidden="true"></i> <%= user.email %>
							</li>
							<li>
								<i class="fa fa-calendar" aria-hidden="true"></i> Ngày tham gia: <%= user.createdAt.toLocaleDateString() %>
							</li>
						</ul>
						<br />
					</div>
					<div class="col-md-9 col-sm-9 col-xs-12">
						<div class="" role="tabpanel" data-example-id="togglable-tabs">
							<ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
								<li role="presentation" class="">
									<a href="#tab_content4" role="tab" id="profile-tab3" data-toggle="tab" aria-expanded="false">Thay đổi mật khẩu</a>
								</li>
							</ul>
							<div id="myTabContent" class="tab-content">
								<div role="tabpanel" class="tab-pane fade active in" id="tab_content4" aria-labelledby="profile-tab">
									<form class="form-horizontal form-label-left" action="/admin/profile/change-password" method="post">
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12" for="currentPassword">
												Mật khẩu hiện tại
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input type="password" name="currentPassword" class="form-control col-md-7 col-xs-12" id="currentPassword">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12" for="newPassword">
												Mật khẩu mới
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input type="password" name="newPassword" class="form-control col-md-7 col-xs-12" id="newPassword">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12" for="rePassword">
												Nhập lại mật khẩu
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input type="password" name="rePassword" class="form-control col-md-7 col-xs-12" id="rePassword">
											</div>
										</div>
										<input type="hidden" value="<%= user._id %>" name="id">
										<div class="ln_solid"></div>
										<div class="form-group">
											<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
												<button class="btn btn-primary" type="reset">Hủy</button>
												<button type="submit" class="btn btn-success btn--submit-disabled">Cập nhật</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
